<footer class="footer">
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="/" title="Homepage CodeGram">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="/categories" title="Categories">Categories</a></li>
        <li class="nav__item"><a class="nav__link" href="/courses" title="Courses">Courses</a></li>
        <li class="nav__item"><a class="nav__link" href="/news" title="Latest News">News</a></li>
    <ul>
    <p>Copyright &copy; 2020-2021 - CodeGram</p>
</footer>