<header class="header">
    <h1 class="header__logo">
        <a href="/" title="Back to the homepage CodeGram">
            CodeGram
        </a>
    </h1>
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="/" title="Homepage CodeGram">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="/categories" title="Categories">Categories</a></li>
            <li class="nav__item"><a class="nav__link" href="/courses" title="Courses">Courses</a></li>
            <li class="nav__item"><a class="nav__link" href="/news" title="Latest News">News</a></li>
        <ul>
    </nav>
</header>