<section class="hero">
        <article class="wrapper jumbotron ">
            <div class="jumbotron__top">
                <h1>World-class learning for anyone, anywhere</h1>
                <p class="subHeading">Choose from 130,000 online video courses with new additions published every month</p>
                <a class="btn tertiary-btn" href="/signup">Get Started</a>
            </div>
            <div class="list--jambotron">
                <ul class="jumbotron__bottom jumbotron__list">
                    <li class="jumbotron__list--item">
                        <h4>Learn the latest skills</h4>
                        <p>Like Python, JavaScript, React framework and more. </p>
                        <a class="btn primary-btn" href="/signup">Join Now</a>
                    </li>
                    <li class="jumbotron__list--item">
                        <h4>Get ready for a career</h4>
                        <p>Whether frontend or backend or full stack developer</p>
                        <a class="btn primary-btn" href="/signup">Join Now</a>
                    </li>
                    <li class="jumbotron__list--item">
                        <h4>Earn a certificate</h4>
                        <p>Thanks for sharing the information asked by Rishabh, Serhii.</p>
                        <a class="btn primary-btn" href="/signup">Join Now</a>
                    </li>
                </ul>
            </div>
        </article>
    </section>