<section class="hero">
        <article class="wrapper jumbotron ">
            <div class="jumbotron__top">
                <h1>Better Education For A Better future</h1>
                <p class="subHeading">Choose from 130,000 online video courses with new additions published every month</p>
                <a class="btn tertiary-btn" href="/signup">Get Started</a>
            </div>
            <ul class="jumbotron__bottom jumbotron__list">
                <li class="jumbotron__list--item">
                    <h4>Learn Online</h4>
                    <p>Thanks for sharing the information asked by Rishabh, Serhii.</p>
                    <a class="btn primary-btn" href="">Join Now</a>
                </li>
                <li class="jumbotron__list--item">
                    <h4>Learn Online</h4>
                    <p>Thanks for sharing the information asked by Rishabh, Serhii.</p>
                    <a class="btn primary-btn" href="">Join Now</a>
                </li>
                <li class="jumbotron__list--item">
                    <h4>Learn Online</h4>
                    <p>Thanks for sharing the information asked by Rishabh, Serhii.</p>
                    <a class="btn primary-btn" href="">Join Now</a>
                </li>
            </ul>
        </article>
    </section>