<section class="hero">
        <article class="wrapper jumbotron ">
            <div class="jumbotron__top">
                <h1>Better Education For A Better future</h1>
                <p class="subHeading">Choose from 130,000 online video courses with new additions published every month</p>
                <a class="btn tertiary-btn" href="/signup">Get Started</a>
            </div>
            <div class="list--jambotron">
                <ul class="jumbotron__bottom jumbotron__list">
                    <li class="jumbotron__list--item">
                        <h4>Learn Online</h4>
                        <p>Learn how to code from home. All you need is an internet connection and an account.</p>
                        <a class="btn primary-btn" href="/signup">Join Now</a>
                    </li>
                    <li class="jumbotron__list--item">
                        <h4>Growing Library</h4>
                        <p>New courses added every month to keep expanding your knowledge.</p>
                        <a class="btn primary-btn" href="/courses">View All</a>
                    </li>
                    <li class="jumbotron__list--item">
                        <h4>Professional Tutors</h4>
                        <p>Learn from the best Codegram has to offer. Start now.</p>
                        <a class="btn primary-btn" href="/signup">Learn More</a>
                    </li>
                </ul>
            </div>
        </article>
    </section>