<div class=" wrapper ">
    <section class=" price-banner ">
        {# <div class="centralised-text-button ">
            <p class="supHeading">Start your journey</p>
            <h2>The most amazing </h2>
            <p class="promo-banner__left--text ">Practical Hands-on Online IT Training and Certifications</p>
        </div> #}
        <div class="price-banner__inner">
            <article class="price-banner__inner--top">
                
            </article>
            <article class="price-banner__inner--bottom">
                <div class="left-align-text">
                    <p class="supHeading">Start your journey</p>
                    <h2>Not sure what to choose </h2>
                    <p class="promo-banner__left--text ">Practical Hands-on Online IT Training and Certifications</p>
                    <div class="price-banner-btn">
                        <a class=" btn primary-btn" href="/courses">View Plan</a> <a class=" btn tertiary-btn" href="https://www.brainpop.com/math/dataanalysis/computerprogramming/quiz/" target="_blank">Our Quiz</a> 
                    </div>
                </div>    
            </article>
        </div>
    </section>
</div>