<div class=" wrapper ">
    <section class=" price-banner ">
        <div class="centralised-text-button ">
            <p class="supHeading">Start your journey</p>
            <h2>The most amazing </h2>
            <p class="promo-banner__left--text ">Practical Hands-on Online IT Training and Certifications</p>
        </div>
        <article class="price-banner__top">

        </article>
        <article class="price-banner__bottom">
                
        </article>
    </section>
</div>