<section class=" wrapper ">
    <article class="promo-banner">
        <div class="promo-banner__left">
            <p class="supHeading">Start your journey</p>
            <h2>The most chosen </h2>
            <p class="promo-banner__left--text ">Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software </p>
             <a class="btn tertiary-btn" href="/signup">Sign Up Now</a>
        </div>
        <div class="promo-banner__right">
            <ul class="promo-banner__right--list promo-course">
                {% set length = 4 %} 
                {% for i in range(0, length) %}
                    <li class="">
                        <a class="promo-course__item" href="/course/{{courses[i].id}}">
                            <div class="">
                                <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/>
                            </div>
                            <div>
                                <h4>{{courses[i].name}}</h4>
                                <p>Jon Snow</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
</section>