<section class=" wrapper ">
    <article class="promo-banner">
        <div class="promo-banner__left">
            <p class="supHeading">Start your journey</p>
            <h2>The most chosen </h2>
            <p class="promo-banner__left--text ">Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software </p>
             <a class="btn tertiary-btn" href="">Sign Up Now</a>
        </div>
        <div class="promo-banner__right">
            <ul class="promo-banner__right--list promo-course">
                <li class="">
                    <a class="promo-course__item" href="">
                        <div class="">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/>
                        </div>
                        <div>
                            <h4>Course name</h4>
                            <p>lorem ipsum</p>
                        </div>
                    </a>
                </li>
                 <li >
                    <a class="promo-course__item" href="">
                        <div class="">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/>
                        </div>
                        <div>
                            <h4>Course name</h4>
                            <p>lorem ipsum</p>
                        </div>
                    </a>
                </li>
                 <li class="">
                    <a class="promo-course__item" href="">
                        <div class="">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/>
                        </div>
                        <div>
                            <h4>Course name</h4>
                            <p>lorem ipsum</p>
                        </div>
                    </a>  
                </li>
                 <li class="">
                    <a class="promo-course__item" href="">
                        <div class="">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/>
                        </div>
                        <div>
                            <h4>Course name</h4>
                            <p>lorem ipsum</p>
                        </div>
                    </a>  
                </li>
            </ul>
        </div>
    </article>
</section>