<section class="wrapper ">
    <ul class="statistics">
        <li>
            <h4>100%</h4>
            <p>Achievements</p>
        </li>
        <li>
            <h4>100%</h4>
            <p>Success Rate</p>
        </li>
        <li>
            <h4>100%</h4>
            <p>Job Guaranteed</p> 
        </li>
        <li class="last">
            <h4>100%</h4>
            <p>Blah blah</p> 
        </li>
    </ul>
</section>