<div class=" wrapper ">
    <section class=" testimonials ">
        <div class="centralised-text-button ">
            <p class="supHeading">Testimonials</p>
            <h2>What do they say</h2>
            <p class="promo-banner__left--text ">Practical Hands-on Online IT Training and Certifications</p>
        </div>
        <ul class="testimonials__list">
           <li class="testimonials__list--item" >
                <figure>
                    <div class="testimonials__info">
                        <blockquote>
                            <p>Before starting my learning path here I knew nothing. Now I know some.</p>
                        </blockquote>
                        <div class="testimonial-sender">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/><figcaption>Real Person</figcaption>
                        </div>
                    </div>
                </figure>
           </li>
             <li class="testimonials__list--item" >
                <figure>
                    <div class="testimonials__info">
                        <blockquote>
                            <p>After the update, Samsung Health will require you to allow the permissions it needs to access the application.</p>
                        </blockquote>
                        <div class="testimonial-sender">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/><figcaption>Name Last</figcaption>
                        </div>
                    </div>
                </figure>
           </li>
             <li class="testimonials__list--item" >
                <figure>
                    <div class="testimonials__info">
                        <blockquote>
                            <p>Best decision in my life was to start learning to code!</p>
                        </blockquote>
                        <div class="testimonial-sender">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/><figcaption>Coder</figcaption>
                        </div>
                    </div>
                </figure>
           </li>
        </ul>
    </section>
</div>