<div class=" wrapper ">
    <section class=" testimonials ">
        <div class="centralised-text-button ">
            <p class="supHeading">Testimonials</p>
            <h2>What they say about us </h2>
            <p class="promo-banner__left--text ">Practical Hands-on Online IT Training and Certifications</p>
        </div>
        <ul class="testimonials__list">
           <li class="testimonials__list--item" >
                <figure>
                    <div class="testimonials__info">
                        <blockquote>
                            <p>Code.gram is the next killer app. Man, this thing is getting better and better as I learn more about it.</p>
                        </blockquote>
                        <div class="testimonial-sender">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/><figcaption>-Zelig I</figcaption>
                        </div>
                    </div>
                </figure>
           </li>
             <li class="testimonials__list--item" >
                <figure>
                    <div class="testimonials__info">
                        <blockquote>
                            <p>Thanks guys, keep up the good work! Code.gram has got everything I need. We can't understand how we've been living without Code.gram.</p>
                        </blockquote>
                        <div class="testimonial-sender">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/><figcaption>-Pat B</figcaption>
                        </div>
                    </div>
                </figure>
           </li>
             <li class="testimonials__list--item" >
                <figure>
                    <div class="testimonials__info">
                        <blockquote>
                            <p>Code.gram should be nominated for service of the year. Code.gram is the real deal!</p>
                        </blockquote>
                        <div class="testimonial-sender">
                            <img class="promo-avatar avatar" src="./static/images/avatar.png" alt=""/><figcaption>-Urson F</figcaption>
                        </div>
                    </div>
                </figure>
           </li>
        </ul>
    </section>
</div>