{
    "presets": [
        [
            "@babel/preset-env", 
            {
                "targets": {
                    "node": "current"
                }
            },
            "@babel/es2015",
            {

            }
        ]    
    ],
    "plugins": ["add-module-exports"]
}