.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    @include dark-bg;

    li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li:not(.last){
        border-right: 1px solid rgba(204, 204, 204, 0.452);
    }
}