{% extends 'base.html' %}

{% block left %}
    {% for course in courses %}
    <h2>{{course.name}}</h2>
    {% endfor %}

    <div class="wrapper ">
        <section class="course-page">
            <article class="course-page__filter">
                <h4>Refine Results</h4>
                <form class ="filter-form" action="">
                {# still have to fix the input area #}
                        <div>
                            <h5>Category</h5>
                            <input type="radio" id="age1" name="age" value="30"  checked="checked">
                            <label for="age1">0 - 30</label><br>
                            <input type="radio" id="age2" name="age" value="60">
                            <label for="age2">31 - 60</label><br>  
                            <input type="radio" id="age3" name="age" value="100">
                            <label for="age3">61 - 100</label><br><br>
                        </div>
                        <div>
                            <h5>Subject</h5>
                            <input type="radio" id="html" name="subject" value="30" checked="checked">
                            <label for="html">0 - 30</label><br>
                            <input type="radio" id="age2" name="subject" value="60">
                            <label for="age2">31 - 60</label><br>  
                            <input type="radio" id="age3" name="subject" value="100">
                            <label for="age3">61 - 100</label><br><br>
                        </div>
                        <div>
                            <h5>Subject</h5>
                            <input type="radio" id="html" name="" value="30" checked="checked">
                            <label for="html">0 - 30</label><br>
                            <input type="radio" id="age2" name="" value="60">
                            <label for="age2">31 - 60</label><br>  
                            <input type="radio" id="age3" name="" value="100">
                            <label for="age3">61 - 100</label><br><br>
                        </div>
                        <div>
                            <h5>Price</h5>
                            <input type="radio" id="html" name="" value="30" checked="checked">
                            <label for="html">0 - 30</label><br>
                            <input type="radio" id="age2" name="" value="60">
                            <label for="age2">31 - 60</label><br>  
                            <input type="radio" id="age3" name="" value="100">
                            <label for="age3">61 - 100</label><br><br>
                        </div>
                        <div class="range">
                            <h5>Duration</h5>
                            <input type="range" list="price">
                                <datalist id="price">
                                    <option value="20" label="20€">2hr</option>
                                    <option value="50"></option>
                                    <option value="20"></option>
                                    <option value="30"></option>
                                    <option value="40"></option>
                                    <option value="60"></option>
                                    <option value="70"></option>
                                    <option value="80"></option>
                                    <option value="90"></option>
                                    <option value="100" label="1000">7ur</option>
                                </datalist>
                        </div>
                        <div>
                            <h5>Tags</h5>
                            <ul class="category-tags">
                                <li>tag1</li>
                                <li>tag2</li>
                                <li>tag3</li>
                                <li>tag4</li>
                            </ul>
                        </div>
                    </form>
            </article>
            <article class="card-main  card-main-categories ">
                <div class="category-page__selector">
                <p>Courses</p>
                <form>
                    <label for="pet-select"></label>
                    <select name="sorting" id="sort-select">
                        <option value="">Sort</option>
                        <option value="popularity">Popular</option>
                        <option value="highest-rated">highest-rated</option>
                        <option value="price-descending">Price descending</option>
                        <option value="price-ascending ">Price Ascending</option>
                    </select>
                </form>
                </div>
                <ul class="card-section section-categories">
                    {% for course in courses %}
                        {% include 'partials/cards.njk' %}
                    {% endfor %}
                </ul>
                <div class="paginaton-wrapper">
          
                    <ul class="pagination">
                        <li><a class="active" href="#0">1</a></li>
                        <li><a href="#0">2</a></li>
                        <li><a href="#0">3</a></li>
                        <li><a href="#0">4</a></li>
                    </ul>
                </div>
            </article>
        </section>
          {% include 'partials/price-banner.njk' %}
    </div>
  
{% endblock %}

{# {% block right %}
    {% for course in courses %}
        <p>{{course.name}}</p>
    {% endfor %}
{% endblock %} #}

{% block scripts %}

{% endblock %}