{% extends 'base.html' %}
{% block left %} 
<section class="privacy-policy">
    <div class="privacy__container wrapper">

        <p>We at Internetwork Expert (“Codegram”, “we”, “us”, “our”) respect your privacy and the right you have to understand how we collect, use, and share your data. This Privacy Policy describes our data collection practices and how your personal information is used and shared when you visit or make a purchase from Codegram.com (the “site”). It also informs you of your rights to access, correct, or restrict our use of your Personal Data. Personal Data, which may be held on paper, a computer, or other form of media, is subject to certain legal safeguards, including those specified in the General Data Protection Regulation, Regulation (EU) 2016/679 (GDPR), and others.</p>

        <p>This policy and the additional documents referred to within, establish the basis on which we process any Personal Data collected, including that from Data Subjects, as well as data provided by said Subjects or other sources. Data users are obliged to comply with this policy when Processing Personal Data on our behalf. Any breach of this policy may result in disciplinary action.</p>

        <p>Unless stated otherwise, this Privacy Policy applies when you visit or use the Codegram site, mobile applications, smart device, APIs, or other related services (“Services”).</p>

        <p>By using our Services, you agree to the terms of this Privacy Policy.</p>

        <p>1. Definitions</p>
        <p>Users</p>
        <P>All living identifiable individuals for whom we hold Personal Data. A User need not be an EU national or resident. All Users have legal rights with regards to their personal information.</p>
        <p>Personal Data</p>
        <p>Data relation to a living individual who can be identified, directly or indirectly, from said data and/or other information in our possession. Personal Data can be factual (i.e. a name, address, or date of birth) or it can be an opinion about that person, their actions, and behavior.</p>
        <p>Data Controller</p>
        <p>People who, or organizations which, determine the purposes for and manner in which any Personal Data is processed. They are responsible for establishing practices and policies in line with GDPR.</p>
        <p>Data User</p>
        <p>Employees, agents, and contractors whose work involves processing Personal Data. Data Users must protect the data they handle in accordance with this data protection policy and any applicable data security procedures at all times.</p>
        <p>Data Processors</p>
        <p>Any person or organization that processes Personal Data on our behalf and on our instructions. Employees of Data Controllers are excluded from this definition. However, suppliers that handle Personal Data on our behalf would be included.</p>
        <p>Website</p>
        <p>Our website at https://Codegram.com/</p>
        <p>Processing</p>
        <p>Any activity or set of activities performed on Personal Data or sets of Personal Data, whether or not by automated means. This includes obtaining, recording, or holding data. It also pertains to carrying out any operation or set of operations with the data, including organizing, amending, retrieving, using, disclosing, erasing, or destroying it. Processing also includes transferring Personal Data to third parties.</p>

        <p>The automated Processing of Personal Data performed by a Data User to evaluate personal aspects related to a natural person. In particular, to analyze or predict aspects concerning that natural person, such as their economic situation, personal preferences, interests, reliability, behavior, locations, or movements.</p>
        <p>Privacy Policy</p>
        <p>The most recent version of our policy relating to the collection, storage, and use of Personal Data (as amended from time-to-time).</p>
        <p>Services</p>
        <p>(i) Access to the relevant Codegram applications provided via the Codegram site or another designated website or IP address and/or</p>
        <p>(ii) Ancillary online or offline products and services provided or licensed to Users, by Codegram.</p>
        <p>2. Data We Collect</p>
        <p>Codegram values your trust and adheres to ethical standards in gathering, using, and safeguarding any information you provide. We collect data from you via three primary sources; data voluntarily give directly from you, data collected through automated means and services, and data from third-party providers.</p>

        <p>We collect and process the following personal information from you:</p>

        <p>a. Data You Provide to Us</p>
        <p>We collect and store information that you provide to us through a variety of means:</p>

        <p>Codegram Website</p>
        <p>Customer Service Representatives</p>
        <p>Mobile Applications</p>
        <p>Events</p>
        <p>Marketing Promotions (such as contests and sweepstakes)</p>
        <p>Third Parties</p>
        <p>Any interaction we share results in the collection of data. While you are never required to provide personal information within any confines of the Codegram experience, choosing to withhold data does limit the opportunities available to you. In order to be an active participant within Codegram, certain personal information must be provided.</p>

        <p>b. Data Collected Through Automated Means</p>
        <p>We collect and store unidentifiable personal information automatically whenever you interact with us. That is, information pertaining to you that would not be useful in identifying you personally. For example, we may collect your Internet Protocol (IP) address, browser information, and reference site domain name when you visit our website. As you browse the Site, we collect information about the individual web pages or products you view, what websites or search terms referred you to us, and how you interact with the site in general. Then, we would analyze this data for preferences, trends, and site usage statistics. This automatically-collected data is referred to as “Device Information”.</p>

        <p>We also collect information by using cookies, web beacons, and other related technologies. “Cookies” are small text files that a website sends to a user’s hard drive through the browser, for data storage. Most browsers accept cookies automatically. However, you are allowed to disable them. By doing so, you may not be able to take full advantage of everything Codegram has to offer. We recommend that you leave cookies “turned on”, helping us provide you with an optimal experience.</p>

        <p>Other technologies, such as web beacons, log files, tags, and pixels also come into play. Log files track actions that occur on our site and collects data that includes your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps. Web beacons, tags, and pixels are electronic files used to record information about how you browse our site.</p>

        
        <p>These tools help us to analyze and understand how our website is used, allowing us to enhance your visits and experience. The use of cookies, log files, web beacons, tags, and pixels (among others) allows us to:

        <p>Customize account pages for individuals</p>
        <p>Track user visits and account features</p>
        <p>Determine which features and pages are requested or visited most frequently</p>
        <p>Save your password so you don’t have to provide it each time you visit the site</p>
        <p>We use third-party companies to provide Internet data hosting, which helps us measure and determine how visitors use our website, thereby showing us the effectiveness of our website and promotions. As a result, we can consistently improve and optimize our website, as well as the products and Services we offer.</p>

        <p>Third-party companies that we utilize include Google AdSense Advertising, Recurly, and Hubspot.</p>

        <p>Google’s advertising requirements and principles are put in place to provide a positive experience for users. As a third-party vendor, Google uses cookies to serve ads on our site. Google’s use of the DART cookie enables it to serve ads to our users based on previous visits to our Site, as well as other sites on the Internet. Users may opt-out of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>

        <p>Both Recurly, Inc and Hubspot, Inc are used to enhance the Codegram Site experience, via billing, marketing, and emailing services.</p>

        <p>We also use third-party companies to showcase advertisements (such as banners or links) on our behalf across the Internet. These companies use tracking technologies (including cookies and pixel tags) to collect non-identifiable information about your visits to our website. They also take note of your interactions with our products and Services in order to provide tailored ads based on your interests. Therefore, they’re “remarketing” on our behalf and on behalf of other advertises across the Internet.</p>

        <p>In that same regard, we utilize third-party audience data (such as age, gender, and interests) to better understand our audience and market to them effectively. We do not use or associate personally identifiable information with remarketing lists, cookies, data feeds, or other anonymous identifiers.</p>

        <p>Additionally, some of our email communications to you may include a “click-through URL” linked to a particular page on our Site. By clicking on one of these URLs, you will automatically enter our website and we may collect information related to the “click-through”. You may avoid having this information collected by not clicking on the URL links in our email correspondence.</p>

        <p>We also use a variety of analytics tools in our Bootcamps for operational and marketing purposes, such as measuring and analyzing traffic patterns. These tools may collect data from sensors including video cameras, smartphone detectors, Wi-Fi networks, or other devices. Again, this allows us to improve your Bootcamp experience.</p>

        <p>c. Data Collected from Other Sources</p>
        <p>We may collect information about you from third-party sources. This would be information that is publicly available. For example, any information you submit in a public forum (such as a blog, chat room, or social networking site) can be read, collected, and used by us and others. This information is most often used to personalize your experience on our Site. Remember, you are responsible for the information you choose to submit in these areas.</p>

        <p>We do not sell, trade, or otherwise transfer your Personally Identifiable Information to outside parties, unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users. These parties agree to and work under a confidentiality agreement. We may also release information when it is appropriate to comply with the law, enforce our Site policies, or protect ours or others’ rights, property, or safety.</p>

        <p>Non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. However, we do not include or offer third-party products or services on our website.</p>

        <p>3. How We Use Your Data</p>
        <p>Order Information is data we collect generally to fulfill any orders placed through our Site. This includes processing your payment information, arranging for shipping, and providing you with invoices and/or confirmations. Additionally, we use this Order Information to:</p>

        <p>Communicate with you</p>
        <p>Screen our orders for potential risk or fraud</p>
        <p>Provide you with information or advertising (with regards to your preferences)</p>
        <p>We use collected Device Information to screen for potential risks and fraud and, more generally, to improve and optimize our Site.</p>

        <p>a. Providing for Our Websites</p>
        <p>We process your Personal Data to perform our contract with you for the use of our websites and to fulfill our obligations under applicable terms of use/service. Where we have not entered into a contract with you, we base the processing of your Personal Data on our legitimate interest to operate and administer our websites and to provide you with content you request and access, such as a downloadable or webinar.</p>

        <p>b. Managing User Registrations</p>
        <p>If you have registered for an account with us, we process your Personal Data. We manage your user account for the purpose of performing our contract with you, according to applicable terms of service.</p>

        <p>c. Handling Contact and User Support Requests</p>
        <p>If you fill out a “Contact Me” web form, request user support, or reach out to us by any other means, we process your Personal Data. Again, this is to perform our contract with you to the extent it is necessary for our legitimate interest in fulfilling your requests and communicating with you.</p>

        <p>d. Managing Event Registrations and Attendance</p>
        <p>We process your Personal Data to plan and host events or webinars you have registered for or that you attend. This includes sending related communications to you, to perform our contract with you.</p>

        <p>e. Managing Contests or Promotions</p>
        <p>If you register for a contest or promotion, we process your Personal Data to perform our contract with you. Some contests or promotions have additional rules containing information about how we will process your Personal Data.</p>

        <p>f. Managing Payments</p>
        <p>If you have provided financial information to us, we process your Personal Data to verify that information and to collect payments. We do this to the extent that it is necessary to complete a transaction and perform our contract with you.</p>

        <p>g. Developing and Improving Our Services</p>
        <p>We process your Personal Data to analyze trends and track your usage of our websites and interactions with your emails. This is done to the extent it is necessary for our legitimate interest in developing and improving our websites. It also allows us to provide our users with more relevant and interesting content.</p>

        <p>h. Sending Marketing Communications</p>
        <p>We will process your Personal Data to send you marketing information, product recommendations, and other non-transactional communications (e.g. marketing newsletters, telemarketing calls, SMS, or push notifications). This content involving us, our affiliates, and our partners includes information about our products, promotions, or events as necessary for our legitimate interest in conducting direct marketing. It is also to the extent you have provided your prior consent.</p>

        <p>i. Complying with Legal Obligations</p>
        <p>We process your Personal Data when cooperating with public and government authorities, courts, or regulators. This is done in accordance with our legal obligations under applicable laws to the extent that it protects our rights or is necessary for our legitimate interest in protecting against misuse or abuse of our websites. This also includes the protection of personal property or safety, pursuing remedies available to us and limiting our damages, complying with judicial proceedings, and court orders, legal processes, or to respond to lawful requests.</p>

        <p>j. Tailor Recommendations for Content</p>
        <p>We process your Personal Data to analyze recommendations best suited for you. This allows us to provide content that can guide you on a more direct path, thus enabling you to achieve your educational goals faster and more efficiently.</p>

        <p>k. Solicit Feedback From Users</p>
        <p>We will process your Personal Data to help identify core users that can help Codegram receive feedback regarding our Services. This helps us to better understand what our users are looking for and how we can best serve them.</p>

        <p>4. Sharing Your Personal Data</p>
        <p>We share your Personal Information with third parties to help us utilize it as described above. This includes providing you with targeted advertisements or marketing communications we believe may be of interest to you. Visit the Network Advertising Initiative’s educational page for more information on how targeted advertising works. You may opt-out of targeted advertising on Facebook, Google, Bing, and through the Digital Advertising Alliance.</p>

        <p>We share your data with:</p>

        <p>Contracted service providers, such as Shopify and Google Analytics. These platforms provide services such as IT and system administration and hosting, credit card processing, research and analytics, marketing, customer support, and data enrichment. We use these services for those purposes and pursuant to the legal bases described above.</p>
        <p>Sponsors of contests or promotions for which you register.</p>
        <p>Third-party social media networks and advertising networks and websites. They usually act as separate controllers, allowing Codegram to market and advertise on third-party platforms and websites.</p>
        <p>Affiliates within the Codegram corporate group, as well as companies acquired in the future which would then become part of the Codegram corporate group. Data is shared to the extent that it is necessary to fulfill a request you have submitted via our Site, be it for customer support, marketing, technical operations, or account management purposes.</p>
        <p>We will use reasonable efforts, in accordance with applicable laws, to notify you of any transfer of Personal Data to unaffiliated third-parties in the event of the following:</p>

        <p>A merger, reorganization, dissolution, or other fundamental corporate change.</p>
        <p>The sale of a website or business unit.</p>
        <p>The acquisition of a portion of our business, assets, or stock.</p>
        <p>Finally, we may also share your Personal Information to comply with applicable laws and regulations. This would include responding to a subpoena, a search warrant, or other lawful request for information we receive, or to otherwise protect our rights.</p>

        <p>Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser.</p>

        <p>5. Security</p>
        <p>The security of your information is important to us. We use reasonable administrative, logical, physical, and managerial measures to safeguard your personal information against loss, theft, and unauthorized access, use, and modification. We have instituted security procedures and measures to protect our servers and networks that store personal information. Unfortunately, no one can guarantee the complete security of any information being shared over the Internet. Therefore, we cannot ensure or warrant total security of any information. In order to help protect personal information you provide to us, take these actions:</p>

        <p>Do not share your password or account information with others</p>
        <p>Use a secure web browser</p>
        <p>Change your password frequently</p>
        <p>If you wish to make changes to your password and account, or if you become aware of any loss, theft, or unauthorized use of your password, please contact us as soon as possible. Contact information can be found below.</p>

        <p>a. How Long do we Keep Your Personal Data?</p>
        <p>We may retain your Personal Data for a period of time consistent with the original purpose of the collection. When you place an order through the Site, we will maintain your order information for our records unless and until you ask us to delete this information. We determine the appropriate retention period for Personal Data based on the amount, nature, and sensitivity of the data. We also take into account the potential risk of harm from unauthorized use or disclosure of your Personal Data and whether we can achieve the purposes of the processing through other means.</p>

        <p>After the expiration of the applicable retention periods, your Personal Data will be deleted. If, for technical reasons, there is any data we are unable to delete entirely from our systems, we will take appropriate measures to prevent any further use of such data.</p>

        <p>6. Your Rights</p>
        <p>a. Your Choices About the Use of Your Data</p>
        <p>You can choose to not provide certain data to us. However, as a result, you may not be able to use certain features or Services provided by Codegram.</p>

        <p>To stop receiving promotional communications from Codegram, you may opt out by using the Unsubscribe link attached to the content. Note that regardless of your email preference settings, we will send you transactional messages regarding our Services. This includes administrative confirmations, order confirmations, important updates regarding our Services, and notices about our policies.</p>

        <p>If you have any questions about your data, our use of it, or your rights, contact us at privacy@Codegram.com.</p>

        <p>b. Accessing, Updating, and Deleting Your Personal Data</p>
        <p>You may log into your account at any time to provide and update your Personal Data.</p>

        <p>For ease of access to your account, use the “Remember me on this device” function when you log into our Site. This function uses technology that enables us to provide direct account access and to help administer our Services without requiring reentry of any password or other user identification when your browser revisits the Site.</p>

        <p>To remove access to your Codegram account from your devices, your Codegram settings can be deleted. Options and steps vary and may not be available on all devices. When possible, users of public or shared devices should out at the completion of each visit. If you sell or return a computer, be sure to log out of your account. If you do not maintain the security of your password or device, or fail to log out of or deactivate your device, subsequent users may be able to access your account. Additionally, they would have access to your personal information.</p>

        <p>If you have any issues terminating your account, email us at support@Codegram.com.</p>

        <p>Please note: even after your account is terminated, some or all of your data may still be visible to others. This includes, without limitation, any data that has been;</p>

        <p>Copied, stored, or disseminated by other users (including in course comment).</p>
        <p>Shared or disseminated by you or others (including in your shared content).</p>
        <p>Posted to a third-party platform.</p>
        <p>After the termination of your account, we retain your non Personal Data for as long as we have a legitimate purpose to do so and in accordance with applicable law. It may be used to assist with legal obligations, resolve disputes, and enforce our agreements. We may retain and disclose such data pursuant to this Privacy Policy after your account has been terminated.</p>

        <p>To request to access, correct, or delete your Personal Data, please contact us either via email at privacy@Codegram.com, or mail at:</p>

        <address>Internetwork Expert
        575 New Waverly Place
        Suite 201
        Cary, NC 27518</address>
        <p>Please allow up to 30 days for a response. For your protection, we may require that your request be sent through the email address associated with your account. We may also need to verify your identity before implementing your request. Please note; we retain certain data where we have a lawful basis to do so. This includes data kept for mandatory record-keeping, as well as to complete transactions.</p>

        <p>c. Our Policy Concerning Minors</p>
        <p>Children under 13 are not allowed to use Codegram’s Services. Children in the European Economic Area under 16 are not allowed to use Codegram’s Services. If we learn that we’ve collected Personal Data from a minor under those ages, Codegram will take reasonable steps to delete it.</p>

        <p>Please note that our Site is not intended for individuals under the age of 16.</p>

        <p>Parents who believe that Codegram may have collected Personal Data from a child can submit a request that it be removed to privacy@Codegram.com.</p>

        <p>7. Jurisdiction - Specific Rules</p>
        <p>a. Users in California</p>
        <p>California Civil Code Section 1798.83 permits customers who are California residents to request certain information regarding our disclosure of Personal Data to third parties for their direct marketing purposes. To make such a request, please write to us:</p>

        <address>By Email: privacy@Codegram.com
        Subject: Privacy Policy Questions
        Attn: Codegram Customer Service</address>

        <p>By Mail:</p>

        <address>Internetwork Expert
        575 New Waverly Place
        Suite 201
        Cary, NC 27518</address>

        <p>b. Users Outside of the U.S.</p>
        <p>Codegram, LLC. is headquartered in Cary, NC. In order to provide our Services to you, we may transfer your data to the United States. By visiting or using our Services, you consent to the storage of your data on servers located in the United States. If you are using our Services from outside the United States, you consent to the transfer, storage, and processing of your data in and to the United States or other countries. Specifically, Personal Data collected in Switzerland and the European Economic Area (EEA) is transferred and stored outside those areas.</p>

        <p>That data is also processed outside Switzerland and the EEA by our service providers. The data is used to process transactions, facilitate payments, and provide support services as previously described. We have entered into data processing agreements with our service providers that restrict and regulate their processing of your data on our behalf. By submitting your data or using our Services, you consent to this transfer, storage, and processing by Codegram and its processors.</p>

        <p>As a European resident, you have the right to access personal information we maintain about you. You also have the right to ask for your personal information to be corrected, updated, or deleted. If you would like to exercise this right, please contact us.</p>

        <p>8. Updates and Contact Information</p>
        <p>a. Contacting Codegram</p>
        <p>If you have any questions or concerns regarding your privacy within Codegram or this Privacy Policy, please contact us by using the information provided below:</p>

        <address>By Email: privacy@Codegram.com
        Subject: Privacy Policy Questions
        Attn: Codegram Customer Service</address>

        <p>By Mail:</p>

        <address>Internetwork Expert
        575 New Waverly Place
        Suite 201
        Cary, NC 27518</address>

        <p>b. Changes to this Privacy Policy</p>
        <p>We may revise this Privacy Policy when necessary to reflect changes in the law, Codegram Services, or other reasons. If we make any significant changes, we will notify you via email, through a notification posted on our Services, or as required by applicable law. If you are a registered user, we will also send an email to the email address that you most recently provided to us prior to the material change taking effect. Accordingly, please keep your account information updated. Any material change to this Privacy Policy will be effective automatically 30 days after the revised Privacy Policy is first posted. This also applies to users who register or otherwise provide opt-in consent during this 30-day period, as applicable.</p>

        <p>c. Questions</p>
        <p>If you have any questions, concerns, or disputes regarding our Privacy Policy, please feel free to contact our privacy team (including our designated personal information protection manager) at privacy@Codegram.com. You can also send postal mail to us at</p>

        <address>Internetwork Expert
        575 New Waverly Place
        Suite 201
        Cary, NC 27518</address>

    </div>
</section>
{% endblock %}