*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body{
    background-color: $color-ebony;
    font-family: "verdana", "arial", "helvetica", "sans-serif";
}
.container{
    font-size:1rem;
    width:100%;
}