$font-family-source: 'verdana', 'arial', 'helvetica';


$color-yellow: #f8a23b;
$color-pink: #ed2266;
$color-cocktail: #EF4A3A;
$color-gray:#262e3a; 
$color-ebony: #0a121e;
$color-black: #000000;
$color-white: #ffffff;
$color-broken-white:#F5F5F5;
$color-blue: #6D70FF;


$spacing: 18;

// Font-size
$text-sm: .85rem;
$text-base: 1rem;
$text-md: 1.2rem;
$text-lg: 2rem;
$text-xl: 3rem;
$text-xxl: 4rem;

//font-weight:
$small: 400;
$large: 700;

// Widths
$container-sm: 60rem;
$container-base: 60rem;
$container-md: 1240px;
$container-lg: 90rem;
$container-xl:50%;
$container-xxl:100%;

// Radius
$radius-sm: 0.25rem;
$radius-base:1rem;
$radius-md: 2rem;
$radius-lg:50%;


// Spacing
$spacing-sm: 0.5rem;
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;
$spacing-xxxl: 5rem;
$spacing-xxxxl: 6rem;


//margin
$margin-sm: 0.5rem;
$margin-base: 1rem;
$margin-md: 1.5rem;
$margin-lg: 2rem;
$margin-xl: 3rem;
$margin-xxl: 4rem;
$margin-xxxl: 5rem;