@charset 'UTF-8';

// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

// 2. Vendors
@import
'vendors/fonts',
'vendors/normalize';

// 3. Base
@import
'base/base',
'base/fonts',
'base/helpers',
'base/typography';

// 4. Layout
@import
'layout/footer',
'layout/form',
'layout/header';

// 5. Components
@import
'components/button',
'components/card',
'components/hero',
'components/image';

// 6. Page-specific styles
@import 
'pages/home';

// 7. Themes
@import
'themes/default';
